.header {
    background-color: rgb(228, 224, 224);
    height: 80px;
    width: 70wh;
    display: flex;
}

.small-box {
    background-color: rgb(95, 140, 223);
    height: 6vh;
    width: 8%;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 30px;
    
    


}
.main-content {
    background-color: white;
    height: 300px;
    width: 70wh;
    
}

.box-container{
    
}

.box-one {
    background-color: rgb(95, 140, 223);
    height: 80px;
    width: 70wh;


}

.box-two {
    background-color: rgb(79, 180, 184);
    height: 80px;
    width: 70wh;
}

.box-three {
    background-color: rgb(222, 240, 120);
    height: 80px;
    width: 70wh;
}

.box-four {
    background-color: #fff700;
    height: 80px;
    width: 70wh;
}